---
layout: default
---

<nav>
	<ul class="nav-list no-padding gray-color">
	{% for post in site.posts %}
		{% if post.categories contains 'dream' %}
			{% continue %}
		{% endif %}
		{% if post.categories contains 'log' %}
			{% continue %}
		{% endif %}
		{% if post.categories contains 'where' %}
			{% continue %}
		{% endif %}
		{% if post.categories contains 'where-done' %}
			{% continue %}
		{% endif %}
		<li class=""> 
		<time class="font-date" datetime="{{ post.date }}" title="{{ post.date }}">{{ post.date | date:"%d %b %Y" }}</time>
		<span>»</span>
		<a class="font-open-sans" href="{{ post.url }}">{{ post.title }}</a>
		</li>
	{% endfor %}
	</ul>
</nav>